body{
  font-size:0.8em;
}

.menu-link, .menu-link:hover{
  font-size:1em;
  color:purple;
  padding: 2px 15px;
  transition: 0.3s;
  border-radius: 30px;
  text-decoration:none;
} .menu-link.active{
  background-image: linear-gradient(to right, #c142b6 0%, #fd7e14 100%);
  color:white;
  font-weight: bold;
  padding:5px 15px;
}

.nav-link{
  transition: 0.3s;
}

.bg-semilight{
  background-color: #f0f0f0;
}

.font-weight-semibold{
  font-weight: 600;
}

body{
  font-family: 'Calibri','Open Sans';
}

.header{
 height:100vh;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}

h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}


.btn-primary-azmi{
  background-image: linear-gradient(to right, #c142b6 0%, #fd7e14 100%);
  padding:10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  color:#fff;
  transition: 0.3s;
}

.btn-primary-azmi:hover{
  opacity: 0.8;
  text-decoration: none;
  color:#fff;
}

hr.content-divider{
  border:none;
  height:60px;
}

.hoverable{
  transition: 0.2s;
}
.hoverable:hover{
  background-color:#f0f0f0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid lightgray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}